/* Provide sufficient contrast against white background */

a {
  color: #D77B5F;
}

code {
  color: #E01A76;
}


h1 {
    font-size: 45px;
    font-family: Avantgarde;
    font-weight: bold;
    margin-top: 5px;
}

h6 {
    font-size: 16px;
    font-family: Avantgarde;
    font-weight: bold;
    margin-top: 5px;
}

profile-text {
    font-size: 14px;
    font-family: Avantgarde;
    font-weight: normal;
    margin-top: 5px;
}

small {
    font-family: Avantgarde;
}

p {
    font-size: 30px;
    font-family: Avantgarde;
    font-weight: normal;
    margin-top: 5px;
}

.button-nav {
    color: #C0413B;
    background-color: #FFCD73;
    border-color: #57291f;  
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 5px;
}

background {
    color: #FFCD73;
}