html {
    --color-background: #D77B5F;
    --color-primary: #C0413B;
    --color-secondary: #FF9200;
    --color-dark: #57291F;
    --color-light: #FFCD73;
    --color-background-light: #FEEADF;
    --color-background-dark: #FEDBD6;
    --color-background-light-comp: #8D8BB3;
}

h1 {
    font-size: 40px;
    font-family: Avantgarde;
    font-weight: bold;
    margin-top: 5px;
}

h6 {
    font-size: 24px;
    font-family: Avantgarde;
    font-weight: bold;
    margin-top: 5px;
}

profile-text {
    font-size: 14px;
    font-family: Avantgarde;
    font-weight: normal;
    margin-top: 5px;
}

small {
    font-family: Avantgarde;
}

p {
    font-size: 20px;
    font-family: Avantgarde;
    font-weight: normal;
    margin-top: 5px;
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: var(--color-dark);
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    padding: 0px;
}

.custom-navbar-styling {
    background: linear-gradient(to bottom right, var(--color-light), var(--color-secondary));
    padding: 1px;
}

.custom-body-style {
    background: white;
}

.logo-styling {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    padding: 0px;
}