/* Provide sufficient contrast against white background */
a {
  color: #D77B5F;
}

code {
  color: #E01A76;
}

.button-nav {
    color: #C0413B;
    background-color: #FFCD73;
    border-color: #57291f;  
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
